@font-face {
  font-family: 'CircularSpotify';
  src: url('https://encore.scdn.co/1.2.3/CircularSpotify-UI-Cyrillic-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: 'CircularSpotify', sans-serif;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
}